<%=@post.name%>
<%=@post.content%>


<form method="post" action="/posts/<%=@post[:id]%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name"><br>
  <input type="text" name="content"><br>
  <input type="submit" id="submit">
</form>
