<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/posts">
     <p>Name: <input id="name" type="text" name="name"></p>
     <p>Content: <input id="content" type="text" name="content"></p>
     <input id="submit" type="submit">
   </form>
 </body>
</html>
