<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Post</title>
  </head>
  <body>
    <h1>Create a Post!</h1>
    <form action="/posts" method="post">
      Name: <input type="text" name="name">
      Content: <input type="text" name="content">
      <input id="submit" type="submit">
    </form>
  </body>
</html>
