<form method = 'post' action = '/posts'>
  <label>Post Name:</label>
  <input type = 'text' name ='name'>
  <label>Post Content:</label>
  <input type = 'text' name ='content'>
  <input type = 'submit' value = 'submit' id ='submit' name ='submit'>
</form>
