<form class="" action="/posts" method="post">
  <label for="name">Name</label>
  <input id="post_name" type="text" name="name" value="">
  <label for="content">Content</label>
  <input id="post_content" type="text" name="content" value="">
  <input type="submit" name="" value="submit">
</form>
