<%= @post.name %>
<%= @post.content %>
<form method="post" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button id="delete" name="delete"></button>
</form>
