<h1><p>Name: <%= @post.name %></p></h1><br>
  <p>Content: <%= @post.content %></p><br>

<form method="post" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
